body {
    margin: 0;
    padding: 0;
    background-color: #6d91b6;
  }
  .container-fluid{
    padding-left: unset !important;
    padding-right: unset !important;
  }
  .scoreboard {
    background-color: #dbe7f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2px 0;
    border: 2px solid #6f42c1;
    border-radius: 5px 5px 5px 5px;
  }

  .team-name {
    max-height: 70px;
    font-weight: bold;
    color: #2e2a5e;
    text-align: center;
    padding: 0 10px;
    border-left-style: groove;
    border-right-style: groove;
  }

  .diamond-left,
  .diamond-right {
    background-color: #6f42c1;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    width: 15px;
    height: 15px;
    margin: 0 5px;
  }


  .batsman-info,
  .bowler-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 10px;
    font-weight: bold;
    font-size: 14px;
  }

 .batsman-onstrike{
    background-color: #e1b25c;
    border-radius: 5px;
    padding: 2px 2px;
    border-style: groove;
    border-color: indianred;
 }

  .batsman,
  .bowler {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
    margin: 2px 0;
  }

  .middle-section {
    display: flex;
    align-items: center;
    background-color: #6f42c1;
    color: white;
    padding: 8px 12px;
    border-radius: 25px 25px 25px 25px;
    font-weight: bold;
    flex-wrap: wrap;
  }

  .score-box {
    background-color: #e6007e;
    padding: 0px 10px;
    border-radius: 5px;
    margin: 0 8px;
    font-size: x-large;
  }

  .batting-text {
    // background-color: #2e2a5e;
    //padding: 4px 10px;
    border-radius: 4px;
    font-size: 10px;
    margin-top: 5px;
  }

  @media (max-width: 768px) {
    .scoreboard {
      flex-direction: column;
      text-align: center;
    }

    .batsman,
    .bowler {
      justify-content: space-around;
      width: 100%;
    }

    .middle-section {
      border-radius: 25px;
      margin: 10px 0;
    }
  }



.numbercontainer {
    display: flex;
}
.numbers {
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(7, 122, 7);
    color: white;
    margin: 1px;
}


.numbersandnote {
    width: 20px;
    line-height: 10px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(7, 122, 7);
    color: white;
    margin: 1px;
 }
 .numbersandout {
    width: 20px;
    line-height: 10px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(190, 57, 57);
    color: white;
    margin: 1px;
 }
 .ballbyballnote{
    font-size: 6px;
}

.ml-1 {
  margin-left: 10px;
}

.loaderball {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
