<div class="container-fluid px-2">
  <div class="scoreboard">

    <!-- Left team -->
    <div class="d-flex align-items-center">
      <div class="team-name">
        {{ summary().batterTeam.teamName }}
      </div>
    </div>

    <!-- Batsman Info -->
    <div class="batsman-info">
      <div class="batsman" [class]="{'batsman-onstrike':summary().batterSummary[0].isOnStrike}">
        <span>{{summary().batterSummary[0].playerName}}</span>
        <span class="ml-1">{{summary().batterSummary[0].run}} ({{summary().batterSummary[0].ball}})</span>
      </div>
      <div class="batsman" [class]="{'batsman-onstrike':summary().batterSummary[1].isOnStrike}">
        <span>{{summary().batterSummary[1].playerName}}</span>
        <span class="ml-1">{{summary().batterSummary[1].run}} ({{summary().batterSummary[1].ball}})</span>
      </div>
    </div>
    <!-- Middle Section -->
    <div class="middle-section flex-column text-center">
      <div class="d-flex align-items-center">
        <div class="score-box">{{ summary().score }}-{{ summary().wicket }}</div>
        <span class="ms-2">{{summary().overs}}.{{summary().ball}}({{summary().totalOvers}})</span>
      </div>
      <div class="batting-text mt-1">WW needs 25 Runs from 12 balls</div>
    </div>

    <!-- Bowler Info -->
    <div class="bowler-info">
      <div class="bowler">
        <img class="loaderball" src="../../../assets/ball.jpg" alt="player">
        <span>{{summary().ballerSummary.playerName}}</span>
        <span>{{summary().ballerSummary.wicket}}-{{summary().ballerSummary.run}} ({{summary().ballerSummary.overs}}<span *ngIf="summary().ballerSummary.ball<6">.{{summary().ballerSummary.ball}})</span></span>
        
      </div>
      <div class="bowler">
            <div class="numbercontainer ">
              <div *ngFor="let ball of summary().ballByBallSummary">
                  <div class="numbers" *ngIf="ball.extraRunShortCode == null && !ball.isOut">
                      {{ ball.run }} 
                  </div>

                  <div class="numbersandout" *ngIf="ball.isOut">
                      <div>{{ ball.run }}</div>
                      <div class="ballbyballnote">W</div>    
                  </div>

                  <div class="numbersandnote" *ngIf="ball.extraRunShortCode !== null">
                      <div>{{ ball.run }}</div>
                      <div class="ballbyballnote">{{ ball.extraRunShortCode }}</div>    
                  </div>
              </div>
          </div>      
      </div>


  </div>

    <!-- Right team -->
    <div class="d-flex align-items-center">
      <div class="team-name">
        {{ summary().ballerTeam.teamName }}
      </div>
    </div>

  </div>
</div>